*{ padding:0; margin:0; box-sizing: border-box; list-style-type: none; text-decoration: none;}

.red{
    color: hsl(0, 100%, 74%);
}
.green{
    color: hsl(154, 59%, 51%);
}
.blue{
    color: hsl(248, 32%, 49%);
}
.dark-blue{
    color: hsl(249, 10%, 26%);
}
.grayish-blue{
    color:hsl(246, 25%, 77%);
}
.white{
    color:white;
}
.bg-red{
    background-color: hsl(0, 100%, 74%);
}
.bg-green{
    background-color: hsl(154, 59%, 51%);
}
.bg-blue{
    background-color: hsl(248, 32%, 49%);
}
.bg-dark-blue{
    background-color: hsl(249, 10%, 26%);
}
.bg-grayish-blue{
    background-color:hsl(246, 25%, 77%);
}
body{
    background: url("../images/bg-intro-desktop.png") ;
    font-family: poppins, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 200px 100px;
}
.catch{
    margin: 20px 0;
}
.catch h1{
    margin:15px 0;
    line-height: 1.2em;
}
.catch p{
   font-size: 16px;
}
.form-container{
    display:flex;
    flex-direction: column;
}
.alert{
    height: auto;
    font-size:14px;
    padding: 15px 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.19);
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.19);
}
input{
    font-weight: 600;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid gray;
}
input[type=submit]{
    border: none;
}
.submit-button{
    border-radius: 8px;
}
.bottom-info{
    font-size: 12px;
    width: 100%;
    text-align: center;
}
/* medium screen */  
@media screen and (max-width: 768px) and (min-width: 481px) { 

 } 
/* small screen */  
@media screen and (max-width: 480px) { 
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 30px;
}
.catch{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catch h1{
    display: block;
}
.catch p{
   text-align: center;
    display: block;
}
 }